{% extends 'includes/_navbar.html' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<h2>Classes</h2>
<h3>Click on the class</h3>
<div class="row">
    <!--Card1-->
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="static/images/class.avif" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <!--Card2-->
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="static/images/class.avif" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <!--Card3-->
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="static/images/class.avif" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <!--Card4-->
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="static/images/class.avif" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
{% endblock %}

